<%- include("partials/header"); -%>   
<h1>Contact</h1>
 <p><%=contactContent%></p>   <!--7in order to get the value of this data key we put them into these tags-->

 <%- include('partials/footer'); -%>