<%- include("partials/header"); -%>   
   <!--7in order to get the value of this data key we put them into these tags-->
   <h1><%=title%></h1>
   <p><%=content%></p>
 <%- include('partials/footer'); -%>